
.total-item {
    color: white;
    margin-top: 20px;
    text-transform: uppercase;

    .total-label {
        float: left;
        padding-left: 15px;
        font-size: 14px;
        line-height: 30px;
    }

    .total-number {
        float: left;
        font-size: 22px;
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid white;
        font-weight: bold;
    }
}
