/**
 * @file
 * This file contains the basic style for any page.
 */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 50px !important;

    /*
     * Always show page scroll-bar to prevent side-movement when hovering over items that are extending their height and
     * suddenly the content doesn't fit above the fold.
     */
    overflow-y: scroll;
    font-size: 14px;

}

.mainHeader.with-navbar-default .navbar-default {
    /*
     * The mainHeader navbar should not have rounded borders when it is not fixed.
     *
     * @see: Navbar.Position.DEFAULT
     * @see: bootstrap::navbar.less
     */
    border-radius: 0;
}

.navbar-default {
    height: 80px;
    padding-top: 15px;
    padding-left: 1em;
    padding-right: 1em;
    align-items: normal !important;
}

.navbar-border{
    border: 1px solid #d4d2d2;
}

.well{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.mainHeader.with-fixed-top {
    /*
     * The mainHeader doesn't have any height when the navbar is fixed, and other elements are behind it.
     *
     * HACK: The default bootstrap navbar is 50px height and has a bottom margin of 20px for the default font size.
     *
     * TODO: Convert to LESS and use Bootstrap variables.
     * @see: Navbar.Position.TOP
     * @see: bootstrap::navbar.less
     */
    min-height: 80px;
    margin-bottom: 32px;
}

.rebootAlert {
    position: fixed;
    top: 50px;
    padding: 6px;
    text-align: center;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    z-index: 1029;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand > img {
    height: 100%;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
.mainContainer {
    /*
     * The main page content should have some height.
     */
    min-height: 20em;
    padding-bottom: 40px;
}

.mainFooter {
    /*
     * Add some spacing around the footer.
     */
    margin-top: -20px;
    padding: 20px 0;
    min-height: 80px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #175372;
}

.mainFooter .text-muted {
    color: #acdef7;
}

.required-field::before {
    content: "*";
    color: red;
    margin-right: 4px;
    font-weight: 700;
}

label{
    font-weight: 600 !important;
}

.pull-right{
    float: right !important;
}
/* file upload
-------------------------------------------------- */
.file-preview.loading {
    background: transparent url('./assets/img/ajax-loader.gif') no-repeat scroll center center content-box !important;
}

.revision-data-div {
    width: 50em;
    overflow-x: auto;
    white-space: nowrap;
}

/* Edit Entity Styles
-------------------------------------------------- */
.revision-data-div {
    width: 50em;
    overflow-x: auto;
    white-space: nowrap;
}

.autosave {
    display: block;
    margin-bottom: 12px;
    color: #ADADAD;
}

hr.edit-separator {
    margin: 0;
    padding: 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(220, 220, 220, 0), rgba(220, 220, 220, 0.75), rgba(220, 220, 220, 0));
}

.checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

.sleep-mode .sleep-value {
    padding-top: 5px;
    font-weight: bold;
    color: #00589e;
    font-size: 0.9em;
}

.sleep-mode {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sleep-label {
    font-weight: bold;
}

/* List View Styles
-------------------------------------------------- */
.section-bordered {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #00589e;
}

.pane {
    padding: 20px 0;
    margin-bottom: 0;
}

.pane.title {
    overflow: hidden;
}

.pane.title h4 {
    font-weight: bold;
    color: #00589e;
    float: left;
}

.pane .count {
    font-weight: bold;
    color: #858585;
    float: left;
    padding-left: 10px;
    line-height: 40px;
}

.pane .show-all {
    float: right;
    font-size: 12px;
    line-height: 40px;
    font-style: italic;
    font-weight: bold;
}

.accordion-toggle .show-all {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}

.show-all:hover {
    color: #66b558;
}

.select2.select2-container {
    width: 100% !important;
}

.list-wrapper .accordion-toggle .form-group {
    margin-bottom: 0;
}

.list-wrapper .list-number {
    float: left;
    color: #00589e;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.section-title {
    color: #2e6da4;
    font-size: 12pt;
    font-weight: bold !important;
}

/*  Pageable table
-------------------------------------------------- */

.with-error {
    color: #a94442;
}
.pagination > li.with-error > a {
    color: #a94442;
}
.pagination > li.active.with-error > a {
    background-color: #eeb9b8;
    border-color: #a94442;
}

/*
-------------------------------------------------- */

.bigLinkContainer .bigLinkItem {
    padding: 15px;
}

button .btn-home-desc {
    padding-top: 0;
    width: 140px;
    font-size: 12px;
    text-transform: none;
    white-space: normal;
}

button .btn-home-label {
    white-space: normal;
    line-height: 20px;
}

.btn-homepage {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    padding: 10px;
    display: inline-block;
    line-height: 15px;
    text-align: center;
}

.homepage-btn{
    color: #333 !important;
    background-color: #fff !important;
    border-color: #ccc !important;
}


div.parentElement{text-align: center;}

button .btn-home-desc {
    padding-top: 0;
    width: 140px;
    font-size: 12px;
    text-transform: none;
    white-space: normal;
}

button .btn-home-label {
    white-space: normal;
    line-height: 20px;
}

.feedbackPanel, .form-wrapper {
    margin: 10px 5px 10px 0px;
}

.error-row {
    color: red;
}

.color-box {
    width: 40px;
    height: 30px;
    display: inline-block;
    margin-right: 5px;
}

.required .control-label:before {
    content: "*";
    color: #a94442;
    display: inline;
    margin-right: 5px;
}

.row-list-item-button {
    min-height: 58px;
}

.pull-down {
    position: absolute;
    bottom: 0;
}

.label-translation-margin {
    margin-right: 5px;
}

.label-translation-description {
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
}

.breadcrumb {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 12px;
    margin-bottom: 0px;
}

.breadcrumb .btn-link {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 12px;
    font-weight: 700;
    margin-left: -7px;
    color: #aaaaaa;
}

.breadcrumb a[disabled=disabled] {
    color: #000000;
    font-weight: 800;
    margin-bottom: 1px;
}

.breadcrumb > li + li:before {
    padding: 0 2px;
    color: #aaaaaa;
    content: "/\00a0";
    font-weight: 700;
}

/*-----------------Color picker --------------------*/
.colorpicker-saturation {
    background:
            linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)),
            linear-gradient(to top right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.colorpicker-hue {
    background: linear-gradient(to bottom, #ff0000, #ff00ff, #0000ff, #00ffff, #00ff00, #ffff00, #ff0000);

}

/*Media Queries*/
@media (min-width: 768px) {
    .navbar-default{
        padding-left: 2em;
        padding-right: 2em;
    }
}
