/**
 * @file
 * This file contains the basic style for any page.
 */

html {
    /*
     * Always show page scroll-bar to prevent side-movement when hovering over items that are extending their height and
     * suddenly the content doesn't fit above the fold.
     */
    overflow-y: scroll;
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 50px !important;
}

.mainHeader.with-navbar-default .navbar-default {
    /*
     * The mainHeader navbar should not have rounded borders when it is not fixed.
     *
     * @see: Navbar.Position.DEFAULT
     * @see: bootstrap::navbar.less
     */
    border-radius: 0;
}

.mainHeader.with-navbar-fixed-top {
    /*
     * The mainHeader doesn't have any height when the navbar is fixed, and other elements are behind it.
     *
     * HACK: The default bootstrap navbar is 50px height and has a bottom margin of 20px for the default font size.
     *
     * @see: Navbar.Position.TOP
     * @see: bootstrap::navbar.less
     */
    min-height: 50px;
    margin-bottom: 20px;
}

.mainHeader .navbar {
    background: #223a49;
    box-shadow: none;
    padding-bottom: 12px;
    padding-top: 12px;
}

.mainHeader .navbar.navbar-inverse {
    border-color: #223a49;
}

.mainHeader .navbar.navbar-inverse .navbar-nav > .active > a {
    background-color: transparent;
}

.mainHeader .navbar .container {
    width: 100%;
}


.mainContainer {
    /*
     * The main page content should have some height.
     */
    min-height: 20em;
}
@media (max-width: 768px){
  .mainContainer{
    margin-top: 25%;
  }
}

.mainFooter {
    /*
     * Add some spacing around the footer.
     */
    margin-top: 2em;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #095a14;
}

.mainFooter .text-muted {
    padding-top: 16px;
    color: #eeeeee;
}

.navbar-header .navbar-brand {
    /*height: auto;*/
    padding: 0;
}

.navbar-header .navbar-brand img {
    display: inline-block;
    width: 60px;
    margin-left: 20px;
    margin-top: -8px;
}

.navbar-header .navbar-brand span {
    display: inline-block;
    padding-left: 10px;
    color: #fff;
}

@media (max-width: 768px){
  .navbar-header .navbar-brand img{
    margin-top: -75px;
  }
  .navbar-header .navbar-brand span{
    margin-top: -5px;
    margin-left: 10px;
  }
}

h1.pageTitle {
    border-bottom: 1px solid #eeeeee;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

/* file upload
-------------------------------------------------- */
.file-preview.loading {
    background: transparent url('./assets/img/ajax-loader.gif') no-repeat scroll center center content-box !important;
}

/* List View Styles
-------------------------------------------------- */
button.list-edit-button {
    margin-bottom: 5px;
    min-width: 70px;
}

/* Edit Entity Styles
-------------------------------------------------- */
.revision-data-div {
    width: 50em;
    overflow-x: auto;
    white-space: nowrap;
}

.autosave {
    display: block;
    margin-bottom: 12px;
}

hr.edit-separator {
    margin: 0;
    padding: 0;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(220, 220, 220, 0), rgba(220, 220, 220, 0.75), rgba(220, 220, 220, 0));
}

.checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-bordered {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
}

.pane {
    padding: 20px 0;
    margin-bottom: 0;
}

.pane.title {
    overflow: hidden;
}

.pane.title h4 {
    font-weight: bold;
    color: #00589e;
    float: left;
}

.pane .count {
    font-weight: bold;
    color: #858585;
    float: left;
    padding-left: 10px;
    line-height: 40px;
}

.pane .show-all {
    float: right;
    font-size: 12px;
    line-height: 40px;
    font-style: italic;
    font-weight: bold;
}

.accordion-toggle .show-all {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    line-height: 120%;
    margin-right: 10px;
    margin-top: 10px;
    white-space: nowrap;
}
@media (max-width: 1024px) {
    .accordion-toggle .show-all{
      margin-right: 30px;
    }
}

.show-all:hover {
    color: #66b558;
}

.list-wrapper .accordion-toggle .form-group {
    margin-bottom: 0;
}

.list-wrapper .list-number {
    float: left;
    color: #00589e;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.plan-items .list-wrapper .list-number {
    padding: 30px;
    background-color: #e4e4e4;
}

.section-title {
    color: #2e6da4;
    font-size: 12pt;
    font-weight: bold !important;
    margin: 25px 0 15px 0;
}

.sleep-mode {
    padding-top: 10px;
    padding-bottom: 10px;
}

.department .sleep-mode .sleep-value {
    padding-top: 5px;
    font-weight: bold;
    color: #00589e;
    font-size: 18px;
}

@media (min-width: 768px) {
    .plan-items .form-inline .control-label {
        margin-bottom: 5px;
    }
}

.form-wrapper label {
    color: #1e6491;
    font-size: 13px;
    font-weight: 700;
}

.form-wrapper [type=text].form-control,
.form-wrapper input.form-control,
.form-wrapper input[type=text] {
    border: 1px solid #eeeeee;
    box-shadow: none;
    padding-left: 10px;
}

.form-wrapper textarea[disabled],
.form-wrapper textarea.form-control[disabled] {
    padding: 10px;
}

.form-group textarea.form-control {
    border: 1px solid #eeeeee;
}

.form-wrapper .input-group .form-control,
.form-wrapper .input-group .form-control:first-child {
    border: 1px solid #eeeeee;
    box-shadow: none;
    border-radius: 0;
}

.form-wrapper .panel {
    border-radius: 0;
    box-shadow: none;
}

.form-wrapper .panel-info {
    border-color: #eeeeee;
    border-radius: 0;
}

.form-wrapper .panel-default > .panel-heading {
    background-color: #f6f6f6;
    border-radius: 0;
    padding: 0;
}

.form-wrapper .panel-info > .panel-heading {
    background-color: transparent;
    color: #38b349;
    border: none;
    font-style: italic;
    font-weight: bold;
}

.form-wrapper .panel-group .panel {
    border-radius: 0;
}

.form-wrapper .header-field {
    padding-bottom: 10px;
    padding-top: 10px;
}

.autosave {
    color: #2097f0;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}


.label-term {
    background-color: #8a0f13;
}

.label-term[href]:hover,
.label-term[href]:focus {
    background-color: #730d10;
}

.label.label-success,
.label.label-danger,
.label.label-warning,
.label.label-term {
    font-size: 10px;
    padding: 10px 20px;
}

/* Selector Styles (Select 2)
-------------------------------------------------- */
.select2.select2-container {
    width: 100% !important;
}

.form-wrapper .select2-container--bootstrap.select2-container--focus .select2-selection,
.form-wrapper .select2-container--bootstrap.select2-container--open .select2-selection {
    border-color: #eeeeee;
    box-shadow: inset 0 1px 1px rgba(59, 123, 177, 0.2), 0 0 8px rgba(59, 123, 177, 0.2);
}

.select2-container--open .select2-dropdown--below {
    box-shadow: 0 6px 12px rgba(59, 123, 177, 0.2);
    border-color: #eeeeee;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    border: 1px solid #eeeeee;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select2-container--bootstrap .select2-selection {
    border: 1px solid #eeeeee;
    box-shadow: none;
}

.select2-dropdown {
    border-radius: 0;
}

/* Buttons
-------------------------------------------------- */

@media (max-width: 768px) {
    form.edit-form .btn{
      margin-bottom: 10px !important;
    }
}

.btn.btn-delete {
    background-color: #d02929;
    border: 1px solid #d02929;
    border-radius: 3px;
    text-transform: capitalize;
}

.btn.btn-info {
    background-color: #3b7bb1;
    border: 1px solid #3b7bb1;
    border-radius: 3px;
    text-transform: capitalize;
}

.btn .btn-default {
    background-color: #8d8d8d;
    border-radius: 3px;
    color: #ffffff;
    text-transform: capitalize;
}

.toggle-handle.btn.btn-default {
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: none;
    text-transform: capitalize;
}

.btn.btn-cancel.btn-default {
    background: #8d8d8d;
    border: 1px solid #8d8d8d;
    border-radius: 3px;
    color: #ffffff;
    text-transform: capitalize;
}

.btn.btn-green.btn-primary {
    background-color: #38b349;
    border: 1px solid #38b349;
    border-radius: 3px;
    text-transform: capitalize;
}

.btn.btn-green.btn-primary:hover,
.btn.btn-cancel.btn-default:hover,
.btn .btn-default:hover,
.btn.btn-info:hover,
.btn.btn-info:hover,
.btn.btn-delete:hover {
    background-color: #333333;
    border: 1px solid #333333;
}

.btn {
    box-shadow: none;
}

.btn:active, .btn.active,
.btn-danger.active {
    box-shadow: none;
}

.btn-file {
    background-color: #36af47;
    border: 1px solid #36af47;
    color: #ffffff;
}

.btn-file:hover {
    background-color: #333333;
    border: 1px solid #333333;
    color: #ffffff;
}

.status-section {
    margin-bottom: 35px;
}

.status-section .status {
    padding-top: 25px;
}

.status-section .checkbox {
    display: inline;
    overflow: hidden;
}

.status-section label {
    float: left;
    margin-right: 10px;
    display: inline;
}

.status-section .checkbox label {
    margin-top: -3px;
}

.status-section .toggle-group label {
    margin-top: 0;
}
@media (max-width: 1024px){
  table.table.table-hover.list-table{
    table-layout: fixed;
  }
  table.table.table-hover.list-table>tbody>tr>td{
    font-size: 11px;
  }
}

.toggle-group{
  width: 215%;
}

/* Submitted Page styles
-------------------------------------------------- */

.verify-email-message {
    padding-top: 60px;
    padding-bottom: 20px;
}

.verify-email-submessage {
    padding-top: 20px;
}

.fa.fa-envelope.verify-email-icon {
    font-size: 7em;
    color: #21ad59;
}

.verify-email-link {
    color: #5dbca7;
}

.verify-error {
    margin-top: 60px !important;
}

.verify-error-link {
    color: #21ad59 !important;
}

.fa.fa-frown-o.unsubscribe {
    font-size: 7em;
    color: #333;
}

/*
-------------------------------------------------- */
