<html xmlns:wicket="http://wicket.apache.org">
<head>
    <title>ListSectionPanel</title>
</head>
<body>
<wicket:panel>
<!--    <div wicket:id="listFilterPanel"></div>-->

    <div class="row list-wrapper" wicket:id="listWrapper">
        <div class="col-md-12">
            <div class="pane title">
                <h4 wicket:id="panelTitle">[[title]]</h4>
                <span class="count"><span wicket:id="totalEntries">[[totalEntries]]</span></span>
                <a wicket:id="showHideAllEntries">
                    <span class="show-all"><wicket:message key="showHideAllEntries" /></span>
                </a>
            </div>
        </div>

        <div class="col-md-12" wicket:id="list">
            <div class="panel-group" wicket:id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-1">
                                <span wicket:id="headerNo" class="list-number"></span>
                            </div>

                            <div class="accordion-toggle col-md-11" wicket:id="accordionToggle">
                                <div class="row">
                                    <div wicket:id="headerField" class="col-md-11 col-sm-10 col-xs-8 header-field"></div>

                                    <div class="col-md-1">
                                        <a wicket:id="showDetailsLink"  class="show-all pull-right">
                                        <span wicket:id="showDetailsLabel">[[show details]]</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div wicket:id="hideableContainer" class="panel-body panel-collapse collapse">
                        <div class="row">
                            <div class="col-md-12">
                                <button wicket:id="edit" type="button" class="btn btn-primary pull-right">[[Edit]]</button>
                            </div>
                            <div class="col-md-12">
                                <button wicket:id="remove" type="button" class="btn btn-red pull-right">[[Remove]]
                                </button>
                            </div>
                            <div wicket:id="removeButtonNotificationPanel" class="col-md-12"></div>
                        </div>

                        <wicket:child/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div wicket:id="addButtonNotificationPanel" class="col-md-12"></div>

        <div class="col-md-12">
            <button wicket:id="newButton" class="btn btn-blue pull-left" type="button">[[+ ADD another element]]
            </button>
        </div>
    </div>
</wicket:panel>
</body>
</html>
