<html xmlns:wicket="http://wicket.apache.org">
<head>
    <title>ListSectionPanel</title>
</head>
<body>
<wicket:panel>
    <div class="panel panel-default" wicket:id="listWrapper">
        <div class="panel-heading">
            <h4 wicket:id="panelTitle">[[title]]</h4>
        </div>

        <!--<div wicket:id="list">-->
        <!--<div class="panel-body panel-collapse collapse">-->
        <!--<div class="pane form-action">-->
        <!--<button wicket:id="remove" type="button" class="btn btn-red l-float">Remove</button>-->
        <!--</div>-->

        <!--<wicket:child/>-->
        <!--</div>-->
        <!--</div>-->


        <div class="panel-body">
            <div wicket:id="list">
                <wicket:child/>

                <div class="row">
                    <div class="col-md-2">
                        <button wicket:id="remove" type="button" class="btn btn-red l-float">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button wicket:id="newButton" class="btn btn-blue l-float" type="button">[[+ ADD another element]]</button>
    </div>
</wicket:panel>
</body>
</html>
